h1 {
	color:blue;
	text-align: center;
	background: fixed;
	font-weight: bold;
	
}
p{
	color: #2d3c04;
	text-align: center;
	font-weight: bold;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cardContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid #6e7f41;
    border-radius: 5px;
    background-color: #3c8652c8;
    color: #53443b;
    align-items: center;
    width: 250px;
    height: 400px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 
		0 0 0 rgba(0,0,0,.2),
		0 -300px 0px rgba(255,255,255,.8) inset, 
		0 -80px 70px #FFF inset;
	transition: all 0.2s ease-in-;
	/* transition: .3s ease-in-out .1s; */

}
.cardContainer:hover{
	transform: translateY(-15px);
}

.cardImage {
    max-width:fit-content;
    max-height: 150px;
    border-radius: 10px;
}

.link div:hover {
    border: 2px solid #b5f506;
}

.description{
	margin: 0;
}